/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


/* Navbar styles */
nav {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 9vh;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added */
    width: 100%; /* Added */
}

.nav-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #007bff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}

.contact-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 40px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
    background-color: #0056b3;
}



.header-content {

    /* text-align: center; */
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(back1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 6rem;
    
}

.header-content h1{
    color: #fafbfc;

    font-size: 50px;
}
.header-content p{
    margin-top: 10px;
    color: aliceblue;
    font-size: 20px;
    font-style: italic;
}
#name{
    color: #00eeff;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.image-section img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section {
    padding: 2rem;

    max-width: 50%;
    text-align: left;
}

.info-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.info-section p {
    font-size: 1rem;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #f4f4f4;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    background-color: #f4f4f4;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 2rem); /* Distribute cards evenly */
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #777;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-heading {
    text-align: center;
    padding: 2rem 0;
}

.contact-heading h1 {
    font-size: 2rem;
    color: #333;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contact-image img {
    width: 400px;
    height: 320px;
    
   
    border-radius: 50%;
}

.social-media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.social-media a {
    margin: 0 1rem;
    color: #007bff;
    font-size: 20px;
}

.social-media img {
    max-width: 30px;
    height: auto;
}

/* Additional styling for Skills and Contact pages as needed */

